.user-message {
    margin: 10px 0;
    padding-left: 60px;
}

.user-text {
    background-color: #0665f5;
    color: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    border-bottom-right-radius: 2px;
}

@media screen and (max-width: 550px) {
    .user-message {
        padding-left: 40px;
    }
}